body 
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: black;
    margin-top: 2rem;
    text-align: center;
    
}

.grid-row
{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(340px,1fr));
    grid-gap: 1rem;
    grid-auto-rows: minmax(100px,auto);
    grid-auto-columns: minmax(100px,auto);
   
   
    
   
    
}

.child-col 
{
    background-color: lightcoral;
    border:2px solid black;
    border-radius: 10px;
    
   
    font-size: 2rem;
}
 button 
 {
    background-color: black;
    outline: none;
    padding:1rem;
    border: none;
    color:white;
    border-radius: 10px;
    font-size: 1.3rem;
    margin-top: 4%;
    margin-left: 10%;
    cursor: pointer;
 }

