@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 

nav{
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    flex-wrap: wrap;
    padding: 0 50px 0 100px;
}

nav.logo 
{
    color: white;
    font-size: 35px;
    font-weight: 600;
}

.nav-ul 
{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}

.nav-ul li 
{
    margin: 0 15px;
}

.nav-ul li a 
{
    color:white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    display: inline-block;
}
.hamburger , .cross
{
    background-color: transparent;
   color: white;
    border:0;
    outline: none;
    font-size: 20px;
    display: none;
    


}
.cross 
{
    display: none;
}


.row3 , .row4
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
 
    

}

.card 
{
    border:2px solid black;
    flex-direction: column;
    margin:0.7rem;
    padding: 1rem;
    max-width: 350px;
    height: 500px;
    display: flex;
    margin:1rem;
    border-radius: 5px;
  
    background-color: black;
    color:white;
    
    
  
   
}
.img-responsive 
{
    width: 300px;
    height:400px;
    margin-left: 0.5rem;
}

.img-responsive img 
{
    /* width: 310px;
    height: auto;
    margin-top: 1rem; */
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: bottom;
}
.clsimg 
{
    width: 100%;
    height: 100%;
}

.card button 
{
    background-color: crimson;
    color:white;
    outline: none;
    border: none;
    padding:1rem;
    font-size: 1rem;
    border-radius: 5px;
    
}
.card p 
{
    flex-grow: 1;
    font-size: 1rem;
}




    @media (max-width: 1000px){
        nav{
          padding: 0 40px 0 50px;
        }
      
      
      }

      
      @media (max-width: 767px){
          .hamburger 
          {
              display: block;
              padding-left: 15rem;
          }
          .cross 
          {
              display: none;
          }
          .cross-icon
          {
              display: block;
          }
        

          .nav-ul 
          {
              display: none;
              flex-direction: row;
             
          }
        

         .show 
          {
              display: flex;
             
              width:100%;
              justify-content: center;
              align-items: center;
              
          }

          nav
          {
            height:150px;
            padding: 0 20px 0 20px;
          }
          

        }

        @media screen and(max-width:480px)
        {
            .card 
            {
                max-width:550px;
            }
        }