@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body,html 
{
    height:100vh;
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;

}

.grid-container
{
    margin:0;
    display: grid;
    /* 2 columns */
    grid-template-columns: 1.5fr 3.3fr 2fr; 
    grid-template-rows: 100% 100% 100%;
    
}

aside
{
    border-right: 1px solid #38444D;
}


.logo 
{
    font-size: 2rem;
    color: white;
    padding: 2rem;
    padding-left: 2rem;
}

.profile-list{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    color: white;
    flex-wrap: wrap;
   
}

.profile-list ul
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    margin-top: -12rem;
  
}

.profile-list ul li 
{
    color: white;
    text-decoration: none;
    padding:0.6rem;
    padding-left: 2rem;
   
}

.profile-list li a 
{
    color:white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    padding: 6px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    display: inline-block;
}
button 
{
    padding:0.8rem;
    background-color: #4AA1EB;
    border-radius: 30px;
    color: white;
    outline: none;
    border: none;
    font-size: 1rem;

}

.home 
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
    border-bottom: 0.3px solid silver;
    
}

.home ul 
{
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; */
    min-width: 600px;
	list-style: none;
	padding-top: 8px;
    display: flex;
    justify-content: space-between;
    

    
    
  
}
.home ul li 
{
    
    text-decoration: none;
    display: inline;
    color: white;
    
}

.home ul li a 
{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    padding: 6px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    display: inline;
}

.photo-container 
{
    display: flex;
    width: 100%;
    align-items: center;
    
    flex-wrap: wrap;
}

.photo-container ul 
{
   
    min-width: 600px;
	list-style: none;
	padding-top: 8px;
    display: flex;
}

.photo-container ul img 
{
    height:60px;
    width:60px;
    border-radius: 50%;
}
   

.tweet
{
    display: flex;
    width: 100%;
    align-items: center;

    flex-wrap: wrap;
    border-bottom: 0.5px solid silver;
}

.tweet ul 
{
   
    min-width: 600px;
	list-style: none;
	padding-top: 8px;
    display: flex;
}

.tweet ul img 
{
    height:40px;
    width:40px;
    border-radius: 50%;
}
   
.tweetcontent 
{
    color:white;
    padding-left:1.5rem;
    margin: -0.4rem;
    width: 90%;
    font-size: 0.9rem;
}

.icons 
{
    
    color:white
}

.icons li 
{
    padding-left: 2rem;
    font-size: 1rem;
}

article{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: black;
    border-left: 0.2px solid gray;
   
}
.search 
{
    height:50px;
    border:0;
    outline: none;
    border-radius: 15px;
    display: flex;
    margin-top: 1rem;
    width: 90%;
    background-color: #38393D;
    color:silver
   
}
.search ul 
{
   
	list-style: none;
	padding-top: 8px;
    
}

.search ul li 
{
    text-decoration: none;
    display: inline;
    color: white;
    padding: 1rem;
    letter-spacing: 1px;
}
.happenbox 
{
    height:340px;
    text-align: center;
    border:0;
    outline: none;
    border-radius: 15px;
    display: flex;
    margin-top: 1rem;
    width: 90%;
    background-color: #38393D;
    color: white;
    flex-direction: column;
}

.follow 
{
    height:150px;
    text-align: start;
    border:0;
    outline: none;
    border-radius: 15px;
    display: flex;
    margin-top: 1rem;
    width: 90%;
    background-color: #38393D;
    color: white;
    flex-direction: column;

}
.follow .items1
{
    padding:0.2rem;
    border-bottom: 1px solid silver;
    text-align: start;
    font-weight: 600;
    
}

.happenbox .items
{
    padding:0.5rem;
    border-bottom: 1px solid silver;
    text-align: start;
    font-weight: 600;
    font-size: 0.9rem;
}



.btn1 
{
    outline: none; 
    border: none;
     border:2px solid #4AA1EB; 
     border-radius: 15px;
     background-color: transparent;
}
.profile-list1
{
    display: none;
}

@media screen and (max-width:768px)
{
    html, body {
        max-width: 100%;
       
    }
    .grid-container
{
    margin:0;
    display: grid;
    /* 2 columns */
    grid-template-columns: 0.5fr 0.5fr
    

    
}

article 
{
    display: none;
}
aside 
{
    
    width: 110px;
   
}

.profile-list
{
    display: none;
}
.profile-list1{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
    flex-wrap: wrap;
   
}

.profile-list1 ul
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    margin-top: -10rem;
  
}

.profile-list1 ul li 
{
    color: white;
    text-decoration: none;
    padding:0.6rem;
    padding-left: 0rem;
    font-size: 1rem;
   
}

.profile-list1 li a 
{
    color:white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    padding: 6px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    display: inline-block;
}
button 
{
    padding:0.4rem;
    background-color: #4AA1EB;
    border-radius: 15px;
    color: white;
    outline: none;
    border: none;
    font-size: 0.9rem;

}


}